<div class="row">
    
<form action="/admin/generate-fake-posts" method="POST">
    <div class="form-group">
        <h1>Create Posts</h1>
        <input type="number" class="form-control" name="amount">
    </div>
    <button type="submit" style="color: white; background-color: black; " class="btn btn-submit">Generate</button>
</form>
</div>

<div class="row">
    <canvas id="myChart"></canvas>
</div>